Development/Microsoft.Flow/flows/a0fe8a9f-b0f6-438e-86f3-96b4c25c31c1/definition.json
{"name":"263516dd-ba64-4875-a932-4f110cb06963","id":"/providers/Microsoft.Flow/flows/263516dd-ba64-4875-a932-4f110cb06963","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"MoM_Reminder_Engine_v2","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"25bb1e0e-daff-42c9-a7df-08cf2d2563e2","type":"User","tenantId":"17bf7467-a77b-4bf2-8e51-a857cb18f125"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-04-02T18:10:22.0361063Z","connectionKeySavedTimeKey":"2026-04-02T18:10:22.0361063Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"India Standard Time"},"evaluatedRecurrence":{"frequency":"Day","interval":1,"timeZone":"India Standard Time"},"metadata":{"operationMetadataId":"1d1ffcde-25a9-4564-a6a6-0533b7f311ac"},"type":"Recurrence"}},"actions":{"List_rows_present_in_a_table":{"runAfter":{"Escalation_Threshold_Days":["Succeeded"]},"metadata":{"01GRMPU3QCW5IJGRCXANDIKZVHKL7E3HGD":"/MOM-Automation/MoM_Action_Tracker.xlsx","tableId":"{B669E442-36B9-4DA6-90B6-4604E6EEEF7C}","01GRMPU3RQW2FK4NH3YZBJLWOCK7W6TGYK":"/MOM-Automation/MoM_Action_Tracker.xlsx","01GRMPU3RCTPC2CVMKRJBLM4SFNHROMNRW":"/MOM-Automation/MoM_Action_Tracker.xlsx","operationMetadataId":"13977578-0853-4937-b160-2672d08b4a02"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/unomindalimited.sharepoint.com,f886acdf-76e7-4402-88a3-66fd29aa1fae,72cbbca7-8582-49e7-b907-1b42b88f51aa","drive":"b!36yG-Od2AkSIo2b9Kaofrqe8y3KChedJuQcbQriPUaqYCl_227q-T6s9vBLjXW5G","file":"01GRMPU3RCTPC2CVMKRJBLM4SFNHROMNRW","table":"{B669E442-36B9-4DA6-90B6-4604E6EEEF7C}","$top":500},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Main_Eligibility_Check":{"actions":{"Escalation_Check":{"actions":{"Send_Escalation_Email_(V2)":{"metadata":{"operationMetadataId":"9fb6005c-7e29-4231-b618-a8798ac5bfa4"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@\r\ntrim(\r\n  string(\r\n    coalesce(items('Apply_to_each')?['ManagerEmail'],'')\r\n  )\r\n)\r\n","emailMessage/Subject":"@concat(\r\n  'Escalation: MoM Action Item overdue by ',\r\n  string(coalesce(outputs('Compose_daysPastDue'), 0)),\r\n  ' days'\r\n)","emailMessage/Body":"<p>Dear San</p>\n\n<p>\nThe following <b>MoM Action Item</b> is overdue and requires your attention.\n</p>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n<tbody><tr>\n<td><b>Meeting Name</b></td>\n<td>@{items('Apply_to_each')?['MeetingName']}</td>\n</tr>\n<tr>\n<td><b>Action Item</b></td>\n<td>@{items('Apply_to_each')?['ActionItem']}</td>\n</tr>\n<tr>\n<td><b>Responsible</b></td>\n<td>@{items('Apply_to_each')?['ResponsiblePerson']}</td>\n</tr>\n<tr>\n<td><b>Target Date</b></td>\n<td>@{formatDateTime(addDays('1899-12-30', int(items('Apply_to_each')?['TargetDate'])), 'dd-MMM-yyyy')}</td>\n</tr>\n<tr>\n<td><b>Days Overdue</b></td>\n<td>@{if(\r\n      greater(outputs('Compose_daysPastDue'),0),\r\n      concat('Overdue by ', string(outputs('Compose_daysPastDue')), ' day(s)'),\r\n      if(\r\n        equals(outputs('Compose_daysPastDue'),0),\r\n        'Due today',\r\n        concat('Due in ', string(mul(outputs('Compose_daysPastDue'), -1)), ' day(s)')\r\n      )\r\n    )\r\n  }</td>\n</tr>\n</tbody></table>\n\n<p>\nPlease take the necessary action at the earliest.\n</p>\n\n<p>\nRegards,<br>\nPMO<br>\nUNO Minda\n</p>","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Update_Row_–_After_Escalation":{"runAfter":{"Send_Escalation_Email_(V2)":["Succeeded"]},"metadata":{"01GRMPU3RCTPC2CVMKRJBLM4SFNHROMNRW":"/MOM-Automation/MoM_Action_Tracker.xlsx","tableId":"{B669E442-36B9-4DA6-90B6-4604E6EEEF7C}","operationMetadataId":"c18faaa3-4a2e-42f7-a37c-d70de3df713f"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/unomindalimited.sharepoint.com,f886acdf-76e7-4402-88a3-66fd29aa1fae,72cbbca7-8582-49e7-b907-1b42b88f51aa","drive":"b!36yG-Od2AkSIo2b9Kaofrqe8y3KChedJuQcbQriPUaqYCl_227q-T6s9vBLjXW5G","file":"01GRMPU3RCTPC2CVMKRJBLM4SFNHROMNRW","table":"{B669E442-36B9-4DA6-90B6-4604E6EEEF7C}","idColumn":"TaskID","id":"@items('Apply_to_each')?['TaskID']","item/ReminderCounter":"@add(\r\n  if(\r\n    empty(trim(string(coalesce(items('Apply_to_each')?['ReminderCounter'],'')))),\r\n    0,\r\n    int(trim(string(items('Apply_to_each')?['ReminderCounter'])))\r\n  ),\r\n  1\r\n)\r\n","item/LastReminderSent":"@formatDateTime(\r\n  convertTimeZone(utcNow(),'UTC','India Standard Time'),\r\n  'dd-MMM-yyyy'\r\n)","item/EscalationFlag":"Yes","item/EscalationSentDate":"@formatDateTime(\r\n  convertTimeZone(utcNow(),'UTC','India Standard Time'),\r\n  'dd-MMM-yyyy'\r\n)\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Reminder_Check":{"actions":{"Send_Reminder_Email_(V2)":{"metadata":{"operationMetadataId":"e27b3173-41cf-40d7-a786-f455dc03688a"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@trim(string(coalesce(items('Apply_to_each')?['ResponsibleEmail'],'')))","emailMessage/Subject":"@\r\nif(\r\n  greater(outputs('Compose_daysPastDue'),0),\r\n  concat('Reminder: MoM Action – Overdue By ', string(outputs('Compose_daysPastDue')), ' day(s)'),\r\n  if(\r\n    equals(outputs('Compose_daysPastDue'),0),\r\n    'Reminder: MoM Action – Due today',\r\n    concat('Reminder: MoM Action – Due in ', string(mul(outputs('Compose_daysPastDue'), -1)), ' day(s)')\r\n  )\r\n)\r\n","emailMessage/Body":"<p>Dear San,</p>\n\n<p>\nThis is a reminder for the following <b>MoM Action Item</b>:\n</p>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n  <tbody>\n    <tr>\n      <td><b>Meeting Name</b></td>\n      <td>@{items('Apply_to_each')?['MeetingName']}</td>\n    </tr>\n    <tr>\n      <td><b>Action Item</b></td>\n      <td>@{items('Apply_to_each')?['ActionItem']}</td>\n    </tr>\n    <tr>\n      <td><b>Responsible Person</b></td>\n      <td>@{items('Apply_to_each')?['ResponsiblePerson']}</td>\n    </tr>\n    <tr>\n      <td><b>Target Date</b></td>\n      <td>@{formatDateTime(addDays('1899-12-30', int(items('Apply_to_each')?['TargetDate'])), 'dd-MMM-yyyy')}</td>\n    </tr>\n    <tr>\n      <td><b>Due Status</b></td>    \n<td>\n  @{if(\r\n      greater(outputs('Compose_daysPastDue'),0),\r\n      concat('Overdue by ', string(outputs('Compose_daysPastDue')), ' day(s)'),\r\n      if(\r\n        equals(outputs('Compose_daysPastDue'),0),\r\n        'Due today',\r\n        concat('Due in ', string(mul(outputs('Compose_daysPastDue'), -1)), ' day(s)')\r\n      )\r\n    )\r\n  }\n</td>\n    </tr>\n  </tbody>\n</table>\n\n<p>\nPlease ensure that the action item is completed and the status is updated accordingly.\n</p>\n\n<p>\nRegards,<br>\nPMO<br>\nUNO Minda\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Update_Row_–_After_Reminder":{"runAfter":{"Send_Reminder_Email_(V2)":["Succeeded"]},"metadata":{"01GRMPU3RCTPC2CVMKRJBLM4SFNHROMNRW":"/MOM-Automation/MoM_Action_Tracker.xlsx","tableId":"{B669E442-36B9-4DA6-90B6-4604E6EEEF7C}","operationMetadataId":"0ada45ee-11b7-40d0-985e-1f549ebcc929"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/unomindalimited.sharepoint.com,f886acdf-76e7-4402-88a3-66fd29aa1fae,72cbbca7-8582-49e7-b907-1b42b88f51aa","drive":"b!36yG-Od2AkSIo2b9Kaofrqe8y3KChedJuQcbQriPUaqYCl_227q-T6s9vBLjXW5G","file":"01GRMPU3RCTPC2CVMKRJBLM4SFNHROMNRW","table":"{B669E442-36B9-4DA6-90B6-4604E6EEEF7C}","idColumn":"TaskID","id":"@items('Apply_to_each')?['TaskID']","item/ReminderCounter":"@add(\r\n  if(\r\n    empty(trim(string(coalesce(items('Apply_to_each')?['ReminderCounter'],'')))),\r\n    0,\r\n    int(trim(string(items('Apply_to_each')?['ReminderCounter'])))\r\n  ),\r\n  1\r\n)\r\n","item/LastReminderSent":"@formatDateTime(\r\n  convertTimeZone(utcNow(),'UTC','India Standard Time'),\r\n  'dd-MMM-yyyy'\r\n)","item/ManualReminderTrigger":"No"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@or(\r\n\r\n  equals(\r\n    toLower(\r\n      trim(\r\n        string(\r\n          coalesce(item()?['ManualReminderTrigger'], '')\r\n        )\r\n      )\r\n    ),\r\n    'yes'\r\n  ),\r\n\r\n\r\n  and(\r\n\r\n  \r\n    or(\r\n      equals(outputs('Compose_daysPastDue'), -2),\r\n      equals(outputs('Compose_daysPastDue'), 0)\r\n    ),\r\n\r\n   \r\n    or(\r\n    \r\n      empty(outputs('Compose_LastReminderSent_Parsed')),\r\n\r\n     \r\n      greaterOrEquals(\r\n        outputs('Compose_DaysSinceLastReminder'),\r\n        variables('ReminderCooldownDays')\r\n      )\r\n    ),\r\n\r\n   \r\n    not(\r\n      empty(\r\n        trim(\r\n          string(\r\n            coalesce(item()?['ResponsibleEmail'], '')\r\n          )\r\n        )\r\n      )\r\n    )\r\n\r\n  )\r\n)\r\n",true]}]},"metadata":{"operationMetadataId":"0723d646-d919-4db2-8133-ebc58ae47eda"},"type":"If"}}},"expression":{"and":[{"equals":["@greaterOrEquals(\r\n  outputs('Compose_daysPastDue'),\r\n  variables('EscalationThresholdDays')\r\n)",true]},{"equals":["@equals(\r\n  toLower(trim(string(coalesce(items('Apply_to_each')?['EscalationFlag'],'')))),\r\n  'no'\r\n)\r\n",true]}]},"metadata":{"operationMetadataId":"c516f315-a1de-40bb-a1c2-bb6a895d3966"},"type":"If"}},"runAfter":{"Compose_DaysSinceLastReminder":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"equals":["@\r\nequals(\r\n  toLower(trim(string(coalesce(items('Apply_to_each')?['ManualReminderTrigger'],'')))),\r\n  'yes'\r\n)\r\n",true]},{"and":[{"equals":["@greaterOrEquals(\r\n  outputs('Compose_daysPastDue'),\r\n  mul(variables('ReminderWindowDays'), -1)\r\n)",true]},{"or":[{"equals":["@equals(\r\n  toLower(trim(string(coalesce(items('Apply_to_each')?['Status'],'')))),\r\n  'pending'\r\n)",true]},{"equals":["@equals(\r\n  toLower(trim(string(coalesce(items('Apply_to_each')?['Status'],'')))),\r\n  'in process'\r\n)",true]}]},{"equals":["@\r\nnot(\r\n  empty(\r\n    trim(\r\n      string(\r\n        coalesce(items('Apply_to_each')?['ResponsibleEmail'], '')\r\n      )\r\n    )\r\n  )\r\n)\r\n",true]}]}]},"metadata":{"operationMetadataId":"03fe1e90-532b-4515-9b06-d6eff988867b"},"type":"If"},"Compose_daysPastDue":{"metadata":{"operationMetadataId":"b4475560-ff59-482c-9adf-d5e0fe76d627"},"type":"Compose","inputs":"@if(\r\n  empty(items('Apply_to_each')?['TargetDate']),\r\n  0,\r\n  div(\r\n    sub(\r\n      ticks(parseDateTime(outputs('Compose_Today_LocalDate'))),\r\n      ticks(\r\n        addDays(\r\n          '1899-12-30',\r\n          int(items('Apply_to_each')?['TargetDate'])\r\n        )\r\n      )\r\n    ),\r\n    864000000000\r\n  )\r\n)"},"Compose_LastReminderSent_Parsed":{"runAfter":{"Compose_daysPastDue":["Succeeded"]},"metadata":{"operationMetadataId":"83bbad97-79e8-43ee-8cb3-bca5fcdcab83"},"type":"Compose","inputs":"@if(\r\n  empty(items('Apply_to_each')?['LastReminderSent']),\r\n  null,\r\n  if(\r\n    or(\r\n      contains(string(items('Apply_to_each')?['LastReminderSent']), '/'),\r\n      contains(string(items('Apply_to_each')?['LastReminderSent']), '-'),\r\n      contains(string(items('Apply_to_each')?['LastReminderSent']), 'T'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'jan'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'feb'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'mar'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'apr'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'may'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'jun'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'jul'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'aug'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'sep'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'oct'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'nov'),\r\n      contains(toLower(string(items('Apply_to_each')?['LastReminderSent'])),'dec')\r\n    ),\r\n\r\n    parseDateTime(\r\n      trim(\r\n        replace(\r\n          string(items('Apply_to_each')?['LastReminderSent']),\r\n          decodeUriComponent('%C2%A0'),\r\n          ' '\r\n        )\r\n      )\r\n    ),\r\n\r\n    addSeconds(\r\n      '1899-12-30T00:00:00Z',\r\n      int(\r\n        mul(\r\n          float(\r\n            trim(\r\n              replace(\r\n                replace(\r\n                  replace(\r\n                    replace(\r\n                      replace(\r\n                        string(items('Apply_to_each')?['LastReminderSent']),\r\n                        decodeUriComponent('%C2%A0'), ' '\r\n                      ),\r\n                      ',', ''\r\n                    ),\r\n                    ' ', ''\r\n                  ),\r\n                  '-', ''\r\n                ),\r\n                '—',''\r\n              )\r\n            )\r\n          ),\r\n          86400\r\n        )\r\n      )\r\n    )\r\n  )\r\n)","description":"This compose’s only job is to safely convert the “LastReminderSent” value from Excel into a proper date/time that Power Automate can work with."},"Compose_DaysSinceLastReminder":{"runAfter":{"Compose_LastReminderSent_Parsed":["Succeeded"]},"metadata":{"operationMetadataId":"10758c34-2561-4602-8b7a-08c1844ca349"},"type":"Compose","inputs":"@\r\nif(\r\n  empty(outputs('Compose_LastReminderSent_Parsed')),\r\n  999,     \r\n  div(\r\n    sub(\r\n      ticks(parseDateTime(outputs('Compose_Today_LocalDate'))),\r\n      ticks(outputs('Compose_LastReminderSent_Parsed'))\r\n    ),\r\n    864000000000\r\n  )\r\n)\r\n","description":"This compose calculates how many days have passed since the last reminder email was sent."}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"6361fd45-4230-4ef0-a75d-bcf51c627a78"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Reminder_Window_Days":{"runAfter":{"Compose_Today_LocalDate":["Succeeded"]},"metadata":{"operationMetadataId":"840aeea1-0c1d-4e26-a9fc-769a66450cf3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ReminderWindowDays","type":"integer","value":2}]}},"Escalation_Threshold_Days":{"runAfter":{"Reminder_Cooldown_Days":["Succeeded"]},"metadata":{"operationMetadataId":"5f5afa84-faf8-44e8-af28-a7e2144c94a7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EscalationThresholdDays","type":"integer","value":5}]}},"Compose_Today_LocalDate":{"runAfter":{},"metadata":{"operationMetadataId":"59ae9f8a-ca5c-4bd4-a56c-f74637745e99"},"type":"Compose","inputs":"@formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'yyyy-MM-dd')"},"Reminder_Cooldown_Days":{"runAfter":{"Reminder_Window_Days":["Succeeded"]},"metadata":{"operationMetadataId":"eaa2d591-3ad1-479c-b168-a412ddbff0a8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ReminderCooldownDays","type":"integer","value":2}]}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-0b753e85-76fe-4bed-9fff-282d8f4809c0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-14c0c609-fcad-45f7-906d-3c2d84edc986","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}